{% extends 'main.html' %}

{% block content %}

<h1>Project Template</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis nunc egestas, consectetur justo nec, cursus
    tortor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse vulputate aliquet consectetur.
    Integer libero odio, rutrum tristique pretium nec, feugiat quis sem. Vivamus et ligula sit amet libero rhoncus
    viverra. Suspendisse cursus leo et congue euismod. Sed tempor odio malesuada felis viverra aliquam. Duis
    scelerisque, felis ac ultricies placerat, arcu elit consectetur purus, eu dictum purus ipsum in enim. Nunc placerat
    ante vitae massa viverra, nec venenatis augue varius. Curabitur in consequat risus, pellentesque eleifend mauris.
    Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed ultricies cursus felis eu euismod. Suspendisse
    lobortis tempor hendrerit. Phasellus vel faucibus lorem. Integer ultrices, massa eu tristique auctor, velit orci
    porttitor erat, quis bibendum est massa in metus.</p>

{% endblock content %}